<!DOCTYPE html>
<html>
<head>
    <style>
        body {
          background-color: #333333;
          text-align: center;
          color: white;
        }
        
        img {
          float: right;
        }

    </style>
</head>
<body>
    <h1 class="bg-info" align="center">Game Rules</h1>

    <img src="https://www.gry-online.pl/static/mapy/pl/gfx/map_2413.jpg" float="right" width="650" height="500" alt="summoners rift">

<article>League of Legends is a team-based strategy game where two teams of five powerful champions face off to destroy the other’s base. Choose from over 140 champions to make epic plays, secure kills, and take down towers as you battle your way to victory.</article>
<p></p>
<article>The Nexus (2) is the heart of both teams’ bases. Destroy the enemy’s Nexus first to win the game.</article>
<p></p>
<article>Your team needs to clear at least one lane to get to the enemy Nexus. Blocking your path are defense structures called turrets and inhibitors(3). Each lane has three turrets and one inhibitor, and each Nexus is guarded by two turrets.</article>
<p></p>
<article>In between the lanes is the jungle, where neutral monsters and jungle plants reside. The two most important monsters are Baron Nashor(1) and the Drakes(2). Killing these units grants unique buffs for your team and can also turn the tide of the game.</article>
</body>
</html>